# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

build-QtSerial-Desktop_Qt_5_12_8_MSVC2017_64bit-Debug/
build-QtSerial-Desktop_Qt_5_12_8_MinGW_64_bit-Debug/
build-QtSerial-Desktop_Qt_5_12_8_MinGW_64_bit-Release/
build-QtSerial-Desktop_Qt_5_12_8_MSVC2017_64bit-Release/

# keil project
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep           
JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*.bak 
*.ddk 
*.edk 
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf

# Altium File
*History
*Project *
*__Previews